/* Header.module.scss */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  padding-top: 27px;

  @media screen and (max-width: 1279px) {
    padding-top: 20px;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  max-width: 1344px;
  padding: 0 64px;

  @media screen and (max-width: 1279px) {
    padding: 0 32px;
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.logo {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  flex-shrink: 0;
  padding-left: 64px;
  span {
    color: rgba(255, 255, 255, 0.4);
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.navigation {
  display: flex;
  margin-left: 280px;

  @media screen and (max-width: 1279px) {
    display: none; // Бургер для планшетів/мобілок
  }

  .navLinks {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      padding: 12px 20px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 30px;
      white-space: nowrap;
      transition: all 0.3s ease;

      &:hover,
      &.active {
        border-color: #ffffff;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Кнопки авторизації */
.auth {
  display: flex;
  gap: 8px;
  padding-right: 64px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.loginBtn {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  white-space: nowrap;
}

.registerBtn {
  text-decoration: none;
  background-color: #ffffff;
  color: #f6b83d;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 30px;
  white-space: nowrap;
}

/* Бургер (стилі без змін) */
.burgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
